#head {
  background: black;
  height: 50px;
  width: 50px;
  background-color: green;
  border: 1px pink;
  position: absolute;
}

#board {
  height: 700px;
  width: 700px;
  border: 1px black solid;
  position: relative;
}

#apple {
  height: 50px;
  width: 50px;
  position: absolute;
}

#body {
  background: black;
  background-color: blue;
  border: 1px pink;
  height: 50px;
  width: 50px;
  position: absolute;
}